body {
    padding: 0;
    margin: 0;
    margin-bottom: 100px;
}

p {
    margin: 0;
}

.ccnylogo {
    width: 140px;
}

.login-wrapper {
    background-color: white !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    .header {
        
        margin-top: 180px;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 30px;
    }

    .sub-header {
        font-family: system-ui;
        margin-bottom: -1px;
        font-size: 23px;

    }
    
}

.auth-inputs {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 10px;
    align-items: center;
    
}

.common-input {
    width: 300px;
    padding: 15px;
    border: 1px solid hwb(0 87% 12%);
    margin-bottom: 20px;
    border-radius: 7px;
}

.login-btn {
    width: 300px;
    padding: 13px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    font-weight: bold;
}

.login-btn:hover {
    background-color: rgb(52, 51, 51);
}

.login-msg {
    margin-bottom: 10px;
}



// hr container
.hr-text {
    line-height: 1em;
    position: relative;
    outline: 0;
    border: 0;
    color: black;
    text-align: center;
    height: 1.5em;
    opacity: .5;
    margin: 20px 20px;
    &:before {
      content: '';
      // use the linear-gradient for the fading effect
      // use a solid background color for a solid bar
      background: linear-gradient(to right, transparent, #5f5e5b, transparent);
      position: absolute;
      left: 0;
      top: 50%;
      width: 100%;
      height: px;
    }
    &:after {
      content: attr(data-content);
      position: relative;
      display: inline-block;
      color: black;
  
      padding: 0 .5em;
      line-height: 0.5em;
      // this is really the only tricky part, you need to specify the background color of the container element...
      color: #0c0c0c;
      background-color: #fcfcfa;
    }
  }

//   google sign-in btn
.google-btn {
    background-color: white;
}

.join {
    margin-top: 25px;
    font-family: system-ui;
    font-weight: 400;
}

.join-now {
    color: rgb(76, 76, 242);
}



.navbar-container, .backgroud,
.img-container {
    position: relative;
}

.cuny-image {
    width: 100%;
    height: auto;
}

.image-container, .navbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    /* You can add more styling to the navbar if needed */
  }

  .overlay-button {
    position: absolute;
    top: 90%; /* Adjust the top position as needed */
    left: 50%; /* Adjust the left position as needed */
    transform: translate(-50%, -50%); /* Center the button */
    padding: 10px 20px;
    background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent background */
    border: none;
    cursor: pointer;
    border-radius: 7px;
    font-weight: 600;
  }

